.root-main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.root-content {
  flex: 1;
}
.nav-main {
  width: 100%;
  background: #000;
  display: flex;
  z-index: 2;
  padding: 20px 0;
}
.nav {
  margin: 0 auto;
}
.nav a {
  color: #fff;
  padding: 5px 15px;
}
.nav a:hover {
  color: hotpink;
}
canvas {
  touch-action: none;
}
