.rc-menu-sub {
  overflow: hidden;
  height: auto;
  background-color: hsl(var(--primary-foreground));
  font-size: 14px;
}
.rc-menu-submenu-active {
  color: hsl(var(--primary));
}
.rc-menu-item {
  color: hsl(var(--foreground));
}

.rc-menu-item-active {
  color: hsl(var(--primary));
  background-color: hsl(var(--secondary)/0.65);
}
.rc-menu-submenu-selected .rc-menu-submenu-title {
  color: hsl(var(--primary));
}

.rc-menu-item-selected {
  color: hsl(var(--background));
  background-color: hsl(var(--primary));
}

.rc-menu-submenu-placement-rightTop ul {
  background: hsl(var(--background));
  z-index: 2;
}

.dark .rc-menu-submenu-selected .rc-menu-submenu-title {
  color: hsl(var(--primary)/75);;
}
.dark .rc-menu-submenu-active {
  color: hsl(var(--primary));
}
.dark .rc-menu-sub {
  background-color: #141414;
}
.dark .rc-menu-item {
  color: hsl(var(--secondary-foreground)/0.8);
}
.dark .rc-menu-item-selected {
  color: hsl(var(--primary));
  background-color: hsl(var(--secondary));
}
.dark .rc-menu-item-active {
  color: hsl(var(--primary));
}
.dark .rc-menu-submenu-placement-rightTop ul {
  background: hsl(var(--background));
}
