.rc-menu-sub {
  overflow: hidden;
  height: auto;
  background-color: hsl(var(--primary-foreground));
  font-size: 14px;
}
.rc-menu-submenu-active {
  color: hsl(var(--primary));
}
.rc-menu-item {
  color: hsl(var(--foreground));
}

.rc-menu-item-active {
  color: hsl(var(--primary));
  background-color: hsl(var(--secondary));
}
.rc-menu-submenu-selected .rc-menu-submenu-title {
  color: hsl(var(--primary));
}

.rc-menu-item-selected {
  color: hsl(var(--background));
  background-color: hsl(var(--primary));
}

.rc-menu-submenu-placement-rightTop ul {
  background: hsl(var(--background));
}

.dark .rc-menu-submenu-selected .rc-menu-submenu-title {
  color: hotpink;
}
.dark .rc-menu-submenu-active {
  color: red;
}
.dark .rc-menu-sub {
  background-color: #141414;
}
.dark .rc-menu-item {
  color: #fff;
}
.dark .rc-menu-item-selected {
  color: red;
  background-color: #212121;
}
.dark .rc-menu-item-active {
  color: red;
}
.dark .rc-menu-submenu-placement-rightTop ul {
  background: hsl(var(--background));
}
